.container{
    margin: 0 auto;
    max-width: 320px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.text{
    font-size: 26px;
    text-align: center;
    padding: 20px;
}

#group-btn{
    display: flex;
    width: 100%;
}

#group-btn > button > img{
    width: 100%;

}